        <div class = "header">
            <img src = "head.png"></img>
        </div>

        <div class = "theGame">
            <center>
                <table cellspacing ="10" id="board">
                    <tr class = "blocks">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class = "blocks">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class = "blocks">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class = "blocks">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class = "blocks">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class = "blocks">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id = "buttons1">
                        <td> <button type= "button" onclick="dropAt(0)"> </td>
                        <td> <button type= "button" onclick="dropAt(1)"> </td>
                        <td> <button type= "button" onclick="dropAt(2)"> </td>
                        <td> <button type= "button" onclick="dropAt(3)"> </td>
                        <td> <button type= "button" onclick="dropAt(4)"> </td>
                        <td> <button type= "button" onclick="dropAt(5)"> </td>
                        <td> <button type= "button" onclick="dropAt(6)"> </td>
                    </tr>

                </table>
                
            
                    <button type = "button" onclick="reset()" id="resetBtn">RESET</button>
                    <br>
                    <br>
                    <embed src="bgroundTune.mp3" autostart="true" loop="false" height = "50px" align = "center">
            </center>
        <div>


<!--
        <script type="text/javascript" src="application.js"></script>
        <!--<script src = "jquery-2.1.1.js"></script> 
        <link rel="stylesheet" type="text/css" href="application.css" type="text/css"/>
    -->
